<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754376614622-oa857odmcole9g20ugnd0b9808fugcci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754376614622-oa857odmcole9g20ugnd0b9808fugcci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754376614622-3fd6mat79v094ll6osbf9fc2439eifm4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhQvnR9fA2GuZcTymDoXeNqrHF6h5FmBM</string>
	<key>GCM_SENDER_ID</key>
	<string>754376614622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiyanlearning.app</string>
	<key>PROJECT_ID</key>
	<string>jiyan-learning-d461b</string>
	<key>STORAGE_BUCKET</key>
	<string>jiyan-learning-d461b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754376614622:ios:b6d334707ef57d481e584f</string>
</dict>
</plist>